<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{title}} API</title>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/typeahead.js-bootstrap.css">
    <link rel="stylesheet" href="assets/css/font-awesome.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <!--[if IE 7]>
    <link rel="stylesheet" href="../assets/css/font-awesome-ie7.css">
    <![endif]-->
    <script type="text/javascript" src="assets/js/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/js/typeahead.js"></script>
    <script type="text/javascript" src="assets/js/main.js"></script>
    <script src="https://use.edgefonts.net/source-sans-pro:n3,i3,n4,i4;source-code-pro.js"></script>

    <!-- Control the Flash of Unstyled Text (or FOUT) -->
    <style type="text/css">
        .wf-loading h1, .wf-loading h2, .wf-loading h3, .wf-loading h4,
        .wf-loading h5, .wf-loading h6, .wf-loading p, .wf-loading a {
            visibility: hidden;
        }
    </style>
    <script>
      window.moduleLevel = ".";
    </script>
  </head>
  <body>
    {{> navbar}}
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
            {{> filelist}}
        </div>
      </div>
    </div>
  </body>
</html>
