{{#module.classes.length}}
<section id="classes">
    
    <h2>Classes</h2>

    {{#module.classes}}
    <div class="well">
        <div class="member public">
            
            <span class="pull-right scope">Constructor</span>
            
            <h4>
                {{constructor.ctx.name}}
                
                {{#constructor.extends}}
                <span class="scope">(extends {{.}})</span>
                {{/constructor.extends}}
            </h4>
            
            <em>{{{constructor.description.full}}}</em>
            
            <dl>
                {{#constructor.params}}
                <dt>{{name}} <span class="label label-info pull-left">{{types}}</span></dt>
                <dd>{{{description}}}</dd>
                {{/constructor.params}}
            </dl>
          
            {{> tags}}

            {{> examples}}

            <button class="btn btn-small show-code">Show code</button>
            <pre class="code language-javascript"><code class="language-javascript">{{constructor.code}}</code></pre>
        </div>
        
        {{#properties.length}}
        <section class="properties {{hasProperties}}">

            <h3>Properties 
                {{#properties.length}}
                    {{> toggle_scope}}
                {{/properties.length}}
            </h3>

            {{#properties}}
                {{> variable}}
            {{/properties}}

        </section>
        {{/properties.length}}

        {{#methods.length}}
        <section class="methods">

            <h3>Methods 
                {{#methods.length}}
                    {{> toggle_scope}}
                {{/methods.length}}
            </h3>

            {{#methods}}
                {{> function}}
            {{/methods}}

        </section>
        {{/methods.length}}

    </div>
    {{/module.classes}}

</section>
{{/module.classes.length}}