<div class="member{{#isPrivate}} private{{/isPrivate}}{{#isPublicAPI}} public{{/isPublicAPI}}{{#isDeprecated}} deprecated{{/isDeprecated}}">

    {{> scope}}

    <h4>
        {{#isDeprecated}}
            <span class="label label-deprecated label-inverse">deprecated</span>
        {{/isDeprecated}}
        {{ctx.name}} {{> modifiers}}
        <a class="anchor" href="#{{ctx.scope.owner}}-{{ctx.name}}" name="{{ctx.scope.owner}}-{{ctx.name}}"><i class="icon-link"></i></a>
    </h4>

    {{> deprecation_message}}
    
    <div class="description">{{{description.full}}}</div>
    
    {{> params}}
    {{> returns}} 
    {{> examples}}
    {{> additional}}
    {{> code}}
</div>