{{#module.variables.length}}
<section id="variables">
    
    <h3>Variables 
        <label class="checkbox">
            <input class="toggle-public" type="checkbox"> Show Private Members
        </label>
    </h3>

    {{#module.variables}}
    <div class="member{{#isPrivate}} private{{/isPrivate}}{{#isPublicAPI}} public{{/isPublicAPI}}{{#isDeprecated}} deprecated{{/isDeprecated}}">

        {{> scope}}

        <h4>{{#isDeprecated}}<span class="label label-deprecated label-inverse">deprecated</span>{{/isDeprecated}}{{ctx.name}}</h4>

        {{> tags}}
        
        <div class="description">{{{description.full}}}</div>

        {{> code}}
    </div>
    {{/module.variables}}

</section>
{{/module.variables.length}}