<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{name}}</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.css">
    <link rel="stylesheet" href="../assets/css/typeahead.js-bootstrap.css">
    <link rel="stylesheet" href="../assets/css/font-awesome.css">
    <link rel="stylesheet" href="../assets/css/main.css">
    <!--[if IE 7]>
    <link rel="stylesheet" href="../assets/css/font-awesome-ie7.css">
    <![endif]-->
    <script type="text/javascript" src="../assets/js/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="../assets/js/bootstrap.js"></script>
    <script type="text/javascript" src="../assets/js/typeahead.js"></script>
    <script type="text/javascript" src="../assets/js/main.js"></script>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="./index.html">Brackets API</a>
            <input class="typeahead" placeholder="Search..." type="text" >
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="span12">
            <div class="page-header">
                <h1>Brackets API</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <h2>Modules ({{otherModulesCount}})</h2>
            <ul class="nav nav-list">
                {{#otherModules}}
                <li><a href="{{1}}.html">{{1}}</a></li>
                {{/otherModules}}
            </ul>
        </div>
    </div>
</div>
</body>
</html>