<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{name}}</title>
    <link rel="stylesheet" href="{{module.level}}/assets/css/bootstrap.css">
    <link rel="stylesheet" href="{{module.level}}/assets/css/typeahead.js-bootstrap.css">
    <link rel="stylesheet" href="{{module.level}}/assets/css/font-awesome.css">
    <link rel="stylesheet" href="{{module.level}}/assets/css/main.css">
    <!--[if IE 7]>
    <link rel="stylesheet" href="../assets/css/font-awesome-ie7.css">
    <![endif]-->
    <script type="text/javascript" src="{{module.level}}/assets/js/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="{{module.level}}/assets/js/bootstrap.js"></script>
    <script type="text/javascript" src="{{module.level}}/assets/js/typeahead.js"></script>
    <script type="text/javascript" src="{{module.level}}/assets/js/main.js"></script>
    
    <script>
        window.moduleLevel = "{{{module.level}}}";
    </script>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="{{module.level}}/index.html">Brackets API</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li><a href="#dependencies">Dependencies</a></li>
                    <li><a href="#variables">Variables</a></li>
                    <li><a href="#functions">Functions</a></li>
                    <li><a href="#classes">Classes</a></li>
                </ul>
            </div>
            <input class="typeahead" placeholder="Search..." type="text" >
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="span12">
            <div class="page-header">
                <h1>{{module.name}}</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span4">
            <div class="left-section">
                <ul class="nav nav-list">
                    <li class="nav-header">
                        <a href="#" id="toggle-other-modules"><i class="icon-folder-close"></i> Modules ({{fileset.length}})</a>
                    </li>
                </ul>
                {{#fileset.groups}}
                <ul class="nav nav-list package-list">
                    <li class="nav-header">
                        <a href="#" class="toggle-package" data-package="package_{{ns_class}}"><i class="icon-folder-open"></i>{{ns}}</a>
                    </li>
                </ul>
                <ul id="package_{{ns_class}}" class="nav nav-list">
                    {{#files}}
                    <li><a href="{{module.level}}/modules/{{docPath}}{{name}}.html">{{name}}</a></li>
                    {{/files}}
                </ul>                
                {{/fileset.groups}}
            </div>
        </div>
        <div class="span8">
            <section>
                <div id="description">
                    {{{module.description}}}
                </div>
            </section>

            <section id="dependencies">
                <h3>Dependencies</h3>
                <ul class="nav nav-list">
                    {{#module.dependencies}}
                    <li><a href="{{module.level}}/modules/{{.}}.html">{{.}}</a></li>
                    {{/module.dependencies}}
                </ul>
            </section>

            <section id="variables">
                <h3>Variables <label class="checkbox">
                    <input class="toggle-public" type="checkbox"> Show Private Members
                </label></h3>
                {{#module.variables}}
                <div class="member{{#isPrivate}} private{{/isPrivate}}{{#isPublicAPI}} public{{/isPublicAPI}}">

                    <span class="pull-right scope">
                        {{#isPrivate}}Private{{/isPrivate}}
                        {{#isPublicAPI}}Public API{{/isPublicAPI}}
                    </span>
                    <h4>{{ctx.name}}</h4>
                    <dl>
                    {{#tags}}
                        {{#.}}
                            <dt>{{key}}</dt>
                            {{#value}}
                                <dd>{{{value}}}</dd>
                            {{/value}}
                        {{/.}}
                    {{/tags}}
                    </dl>
                    {{{description.full}}}
                    <button class="btn btn-small show-code">Show code</button>
                    <pre class="code"><code>{{code}}</code></pre>
                </div>
                {{/module.variables}}
                <!--</ul>-->
            </section>

            <section id="functions">
                <h3>Functions <label class="checkbox">
                    <input class="toggle-public" type="checkbox"> Show Private Members
                </label></h3>
                {{#module.functions}}
                <div class="member{{#isPrivate}} private{{/isPrivate}}{{#isPublicAPI}} public{{/isPublicAPI}}">
                    <span class="pull-right scope">
                        {{#isPrivate}}Private{{/isPrivate}}
                        {{#isPublicAPI}}Public API{{/isPublicAPI}}
                    </span>
                    <h4>{{ctx.name}}</h4>
                    <!--<strong>Params:</strong>-->
                    <dl>
                        {{#params}}
                            <dt>{{name}}</dt>
                            <dd>(<em>{{types}}</em>) - {{{description}}}</dd>
                        {{/params}}
                    </dl>
                    {{{description.full}}}
                    <button class="btn btn-small show-code">Show code</button>
                    <pre class="code"><code>{{code}}</code></pre>
                </div>
                {{/module.functions}}
            </section>


            <section id="classes">
                <h2>Classes</h2>
                {{#module.classes}}
                    <div class="member public">
                        <span class="pull-right scope">
                            Constructor
                        </span>
                        <h4>{{constructor.ctx.name}}</h4>
                        <!--<strong>Params:</strong>-->
                        <dl>
                            {{#constructor.params}}
                            <dt>{{name}}</dt>
                            <dd>(<em>{{types}}</em>) - {{{description}}}</dd>
                            {{/constructor.params}}
                        </dl>
                        {{{constructor.description.full}}}
                        <button class="btn btn-small show-code">Show code</button>
                        <pre class="code"><code>{{constructor.code}}</code></pre>
                    </div>

                    <section class="properties">
                        <h3>Properties<label class="checkbox">
                            <input class="toggle-public" type="checkbox"> Show Private Members
                        </label></h3>
                        {{#properties}}
                        <div class="member{{#isPrivate}} private{{/isPrivate}}{{#isPublicAPI}} public{{/isPublicAPI}}">
                            <span class="pull-right scope">
                                {{#isPrivate}}Private{{/isPrivate}}
                                {{#isPublicAPI}}Public API{{/isPublicAPI}}
                            </span>
                            <h4>{{ctx.name}}</h4>
                            <dl>
                                {{#tags}}
                                {{#.}}
                                <dt>{{key}}</dt>
                                {{#value}}
                                <dd>{{{value}}}</dd>
                                {{/value}}
                                {{/.}}
                                {{/tags}}
                            </dl>
                            {{{description.full}}}
                            <button class="btn btn-small show-code">Show code</button>
                            <pre class="code"><code>{{code}}</code></pre>
                        </div>
                        {{/properties}}
                    </section>

                    <section class="methods">
                        <h3>Methods<label class="checkbox">
                            <input class="toggle-public" type="checkbox"> Show Private Members
                        </label></h3>
                        {{#methods}}
                        <div class="member{{#isPrivate}} private{{/isPrivate}}{{#isPublicAPI}} public{{/isPublicAPI}}">
                            <span class="pull-right scope">
                                {{#isPrivate}}Private{{/isPrivate}}
                                {{#isPublicAPI}}Public API{{/isPublicAPI}}
                            </span>
                            <h4>{{ctx.name}}</h4>
                            <!--<strong>Params:</strong>-->
                            <dl>
                                {{#params}}
                                <dt>{{name}}</dt>
                                <dd>(<em>{{types}}</em>) - {{{description}}}</dd>
                                {{/params}}
                            </dl>
                            {{{description.full}}}
                            <button class="btn btn-small show-code">Show code</button>
                            <pre class="code"><code>{{code}}</code></pre>
                        </div>
                        {{/methods}}
                    </section>
                {{/module.classes}}
            </section>
        </div>
    </div>
</div>
</body>
</html>