<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{name}}</title>
        <link rel="stylesheet" href="{{level}}/assets/css/bootstrap.css">
        <link rel="stylesheet" href="{{level}}/assets/css/typeahead.js-bootstrap.css">
        <link rel="stylesheet" href="{{level}}/assets/css/font-awesome.css">
        <link rel="stylesheet" href="{{level}}/assets/css/highlight.css">
        <link rel="stylesheet" href="{{level}}/assets/css/main.css">
        <!--[if IE 7]>
        <link rel="stylesheet" href="../assets/css/font-awesome-ie7.css">
        <![endif]-->
        <script type="text/javascript" src="{{level}}/assets/js/jquery-1.9.1.js"></script>
        <script type="text/javascript" src="{{level}}/assets/js/bootstrap.js"></script>
        <script type="text/javascript" src="{{level}}/assets/js/typeahead.js"></script>
        <script type="text/javascript" src="{{level}}/assets/js/highlight.pack.js"></script>
        <script type="text/javascript" src="{{level}}/assets/js/main.js"></script>
        
        <script>
            window.moduleLevel = "{{{level}}}";
        </script>
    </head>
    <body>
        <div class="row-fluid">
            {{{fragments.navbar}}}
        </div>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <div class="page-header">
                        <h1>{{module.name}}</h1>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span3">
                    <div class="left-section">
                        {{{fragments.filelist}}}
                    </div>
                </div>
                <div class="span9">
                    <section>
                        <div id="description">
                            {{{module.description}}}
                        </div>
                    </section>
        
                    <section id="dependencies">
                        <h3>Dependencies</h3>
                        
                        {{#module.dependencies.length}}
                        <ul class="nav nav-list">
                            {{#module.dependencies}}
                            <li><a href="{{level}}/modules/{{url}}.html">{{name}}</a></li>
                            {{/module.dependencies}}
                        </ul>
                        {{/module.dependencies.length}}
                        
                        {{^module.dependencies.length}}
                        <span class="alert alert-info">This module has no dependencies</span>
                        {{/module.dependencies.length}}
                        
                    </section>
        
                    {{#module.variables.length}}
                        <section id="variables">
                            <h3>Variables 
                                <label class="checkbox">
                                    <input class="toggle-public" type="checkbox"> Show Private Members
                                </label>
                            </h3>
                            
                            {{#module.variables}}
                            <div class="member{{#isPrivate}} private{{/isPrivate}}{{#isPublicAPI}} public{{/isPublicAPI}}">
            
                                <span class="pull-right scope">
                                    {{#isPrivate}}Private{{/isPrivate}}
                                    {{#isPublicAPI}}Public API{{/isPublicAPI}}
                                </span>
                                <h4>{{ctx.name}}</h4>
                                <dl>
                                {{#tags}}
                                    {{#.}}
                                        <dt>{{key}}</dt>
                                        {{#value}}
                                            <dd>{{{value}}}</dd>
                                        {{/value}}
                                    {{/.}}
                                {{/tags}}
                                </dl>
                                {{{description.full}}}
                                <button class="btn btn-small show-code">Show code</button>
                                <pre class="code"><code>{{code}}</code></pre>
                            </div>
                            {{/module.variables}}
                            
                        </section>
                    {{/module.variables.length}}
        
                    {{#module.functions.length}}
                    <section id="functions">
                        <h3>Functions 
                            <label class="checkbox">
                                <input class="toggle-public" type="checkbox"> Show Private Members
                            </label>
                        </h3>
                        
                        {{#module.functions}}
                        <div class="member{{#isPrivate}} private{{/isPrivate}}{{#isPublicAPI}} public{{/isPublicAPI}}">
                            <span class="pull-right scope">
                                {{#isPrivate}}Private{{/isPrivate}}
                                {{#isPublicAPI}}Public API{{/isPublicAPI}}
                            </span>
                            <h4>{{ctx.name}}</h4>
                            <em>{{{description.full}}}</em>
                            <dl>
                                {{#params}}
                                    <dt>{{name}}</dt>
                                    {{#modifiers}}
                                        <span class="label label-{{.}} pull-left">{{.}}</span>
                                    {{/modifiers}}
                                    <dd class="label label-info pull-left">{{types}}</dd>
                                    <dd>{{{description}}}</dd>
                                {{/params}}
                            </dl>
                            <button class="btn btn-small show-code">Show code</button>
                            <pre class="code"><code>{{code}}</code></pre>
                        </div>
                        {{/module.functions}}
                        
                    </section>
                    {{/module.functions.length}}
                    
                    {{#module.classes.length}}
                    <section id="classes">
                        <h2>Classes</h2>
                        
                        {{#module.classes}}
                            <div class="well">
                                <div class="member public">
                                    <span class="pull-right scope">
                                        Constructor
                                    </span>
                                    <h4>{{constructor.ctx.name}}</h4>
                                    <em>{{{constructor.description.full}}}</em>
                                    <dl>
                                        {{#constructor.params}}
                                        <dt>{{name}}</dt>
                                        <dd class="label label-info pull-left">{{types}}</dd>
                                        <dd>{{{description}}}</dd>
                                        {{/constructor.params}}
                                    </dl>
                                    
                                    <button class="btn btn-small show-code">Show code</button>
                                    <pre class="code"><code>{{constructor.code}}</code></pre>
                                </div>
            
                                {{#properties.length}}
                                <section class="properties {{hasProperties}}">
                                    <h3>Properties 
                                        <label class="checkbox">
                                            <input class="toggle-public" type="checkbox"> Show Private Members
                                        </label>
                                    </h3>
                                    
                                    {{#properties}}
                                    <div class="member{{#isPrivate}} private{{/isPrivate}}{{#isPublicAPI}} public{{/isPublicAPI}}">
                                        <span class="pull-right scope">
                                            {{#isPrivate}}Private{{/isPrivate}}
                                            {{#isPublicAPI}}Public API{{/isPublicAPI}}
                                        </span>
                                        <h4>{{ctx.name}}</h4>
                                        <dl>
                                            {{#tags}}
                                            {{#.}}
                                            <dt>{{key}}</dt>
                                            {{#value}}
                                            <dd>{{{value}}}</dd>
                                            {{/value}}
                                            {{/.}}
                                            {{/tags}}
                                        </dl>
                                        {{{description.full}}}
                                        <button class="btn btn-small show-code">Show code</button>
                                        <pre class="code"><code>{{code}}</code></pre>
                                    </div>
                                    {{/properties}}
                                    
                                </section>
                                {{/properties.length}}
            
                                {{#methods.length}}
                                <section class="methods">
                                    <h3>Methods 
                                        <label class="checkbox">
                                            <input class="toggle-public" type="checkbox"> Show Private Members
                                        </label>
                                    </h3>
                                    
                                    {{#methods}}
                                    <div class="member{{#isPrivate}} private{{/isPrivate}}{{#isPublicAPI}} public{{/isPublicAPI}}">
                                        <span class="pull-right scope">
                                            {{#isPrivate}}Private{{/isPrivate}}
                                            {{#isPublicAPI}}Public API{{/isPublicAPI}}
                                        </span>
                                        <h4>{{ctx.name}}</h4>
                                        <em>{{{description.full}}}</em>
                                        <dl>
                                            {{#params}}
                                            <dt>{{name}}</dt>
                                            <dd class="label label-info pull-left">{{types}}</dd>
                                            <dd>{{{description}}}</dd>
                                            {{/params}}
                                        </dl>
                                        <dl>
                                            {{#returns}}
                                            <dt>Returns: </dt>
                                            <dd class="label label-info pull-left">{{types}}</dd>
                                            <dd>{{{description}}}</dd>
                                            {{/returns}}
                                        </dl>
                                        <button class="btn btn-small show-code">Show code</button>
                                        <pre class="code"><code>{{code}}</code></pre>
                                    </div>
                                    {{/methods}}
                                </section>
                                {{/methods.length}}
                                
                            </div>
                        {{/module.classes}}
                        
                    </section>
                    {{/module.classes.length}}
                    
                </div>
            </div>
        </div>
        
        <script>hljs.initHighlightingOnLoad();</script>
    </body>
</html>