<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="{{level}}/index.html">{{title}} API</a>
            {{#module}}
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li><a href="#dependencies">Dependencies</a></li>
                    <li><a href="#variables">Variables</a></li>
                    <li><a href="#functions">Functions</a></li>
                    <li><a href="#classes">Classes</a></li>
                </ul>
            </div>
            {{/module}}
            <input class="typeahead" placeholder="Search..." type="text" >
        </div>
    </div>
</div>