<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{name}}</title>
        <link rel="stylesheet" href="{{level}}/assets/css/bootstrap.css">
        <link rel="stylesheet" href="{{level}}/assets/css/typeahead.js-bootstrap.css">
        <link rel="stylesheet" href="{{level}}/assets/css/font-awesome.css">
        <link rel="stylesheet" href="{{level}}/assets/css/main.css">
        <!--[if IE 7]>
        <link rel="stylesheet" href="../assets/css/font-awesome-ie7.css">
        <![endif]-->
        <script type="text/javascript" src="{{level}}/assets/js/jquery-1.9.1.js"></script>
        <script type="text/javascript" src="{{level}}/assets/js/bootstrap.js"></script>
        <script type="text/javascript" src="{{level}}/assets/js/typeahead.js"></script>
        <script type="text/javascript" src="{{level}}/assets/js/main.js"></script>
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="brand" href="{{level}}/index.html">Brackets API (minimalist demo)</a>
                    <input class="typeahead" placeholder="Search..." type="text" >
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="page-header">
                        <h1>{{module.name}}</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <section>
                    <div id="description">
                        {{{module.description}}}
                    </div>
                </section>
                <section id="functions">
                    <h3>Functions <label class="checkbox">
                        <input class="toggle-public" type="checkbox"> Show Private Members
                    </label></h3>
                    {{#module.functions}}
                    <div class="member{{#isPrivate}} private{{/isPrivate}}{{#isPublicAPI}} public{{/isPublicAPI}}">
                        <span class="pull-right scope">
                            {{#isPrivate}}Private{{/isPrivate}}
                            {{#isPublicAPI}}Public API{{/isPublicAPI}}
                        </span>
                        <h4>{{ctx.name}}</h4>
                        <button class="btn btn-small show-code">Show code</button>
                        <pre class="code"><code>{{code}}</code></pre>
                    </div>
                    {{/module.functions}}
                </section>
            </div>
        </div>
    </body>
</html>